/* app css stylesheet */

table {
  border-radius: 4px;
  width: 70%;
}

table, td {
  border: 2px solid black;
}

thead {
  background-color: dimgray;
  color: white;
}

td {
  border-radius: 6px;
  text-align: center;
}

th, td {
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #e2e2e2;
}

input {
  border-radius: 8px;
}